<%- include("../partials/header") %>

    <div class="container">

        <div class="row text-center" style="display: flex; flex-wrap: wrap;">
            <div class="col-lg-12">
                <h3>Cat Gallery</h3>
            </div>


        </div>



    </div>


    <%- include("../partials/footer") %>