<%- include("../partials/header") %>

    <div class="container">

        <div style="width: 30%; margin: 25px auto">
            <h1>Add Your Cat</h1>
            <hr>
            <input type="file" id="file-input">
            <p id="status">Please upload your cat's profile image</p>
            <img style="border:1px solid gray;" id="preview" src="https://391imgs.s3-us-west-2.amazonaws.com/images/default.png" height="100" width="80">
            <h2>Your cat's information</h2>
            <form method="POST" action="/cats">
                <input type="hidden" id="avatar-url" name="profilepic" value="/images/default.png">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name">
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" name="gender" placeholder="Gender">
                </div>

                <div class="form-group">
                    <input class="form-control" type="number" name="age" placeholder="Age">
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" name="breed" placeholder="Breed">
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="Description">
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        // Function to carry out the actual PUT request to S3 using the signed request from the app.
        function uploadFile(file, signedRequest, url) {
            const xhr = new XMLHttpRequest();
            xhr.open('PUT', signedRequest);
            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        document.getElementById('preview').src = url;
                        document.getElementById('avatar-url').value = url;
                    } else {
                        alert('Could not upload file.');
                    }
                }
            };
            xhr.send(file);
        }

        /*
          Function to get the temporary signed request from the app.
          If request successful, continue to upload the file using this signed
          request.
        */
        function getSignedRequest(file) {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', `/cats/sign-s3?file-name=${file.name}&file-type=${file.type}`);
            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        uploadFile(file, response.signedRequest, response.url);
                    } else {
                        alert('Could not get signed URL.');
                    }
                }
            };
            xhr.send();
        }

        /*
         Function called when file input updated. If there is a file selected, then
         start upload procedure by asking for a signed request from the app.
        */
        function initUpload() {
            const files = document.getElementById('file-input').files;
            const file = files[0];
            if (file == null) {
                return alert('No file selected.');
            }
            getSignedRequest(file);
        }

        /*
         Bind listeners when the page loads.
        */
        (() => {
            document.getElementById('file-input').onchange = initUpload;
        })();
    </script>
    <%- include("../partials/footer") %>